.divClass h1{
    text-align: center;
    color: rgb(61, 54, 163);
    background-color: rgb(182, 182, 219);
    border: solid 5px rgb(7, 14, 51);
}

a{
    display: block;
    text-align: center;
}


.divClass span{
    display: block;
    text-align: center;
    font-size: 18px;
    margin: 50px;
    background-color: rgb(182, 182, 219);
    border-radius: 10px;
    
    
}

h3, h4{
    text-align: center;
}


#thirdDiv{

    margin-top: 100px;
    margin-left: 350px;
    height: 600px;
    width: 500px;
    background-color: rgb(182, 182, 219);
    padding: 50px;
    border: solid  5px rgb(7, 14, 51);
    margin-top: 0px
   
    
    
}

img{
    
    width: 400px;
}

